<a href="https://colab.research.google.com/github/cbok1048/pythonbasic/blob/main/friday_Quiz_20210226.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = map(int,input("이름 :").split)

이름 :저 넓은 세상을 네 눈앞에

TypeError: ignored

In [ ]:
# 숫자로 받아서 입력 처리
a = map(int,input().split())

print(a)

70 100
<map object at 0x7f761a8a4d50>

In [ ]:
a = input("이름 :").split())
x = map(int,input("점수 :").split())

print(dict(zip(a,x)))

In [ ]:
key = input().split()
value = map(int, input().split())

print(dict(zip(key,value)))

Yujin Hyewon
70 100
{'Yujin': 70, 'Hyewon': 100}

In [ ]:
# Quiz 28 2 gram
x = input()  #python   6글자
for i in range(len(x)-1):  #렌함수에 6글자 넣기
  print(x[i] + x[i+1])

python
py
yt
th
ho
on

In [ ]:
# 대문자만 지나가시오

x = input()
i = [A , B, C, D, E, F, G, H, I ,J ,K ,L ,M ,N ,O ,P ,Q ,R ,S ,T,U,V,W,Y,Z]
if i not in x:
  print("no")
elif i in x:
  print("yes")     #내가 생각했던풀이

python

NameError: ignored

In [ ]:
# 대문자 소문자 팁

# ASCII 코드 65 = A ~ 90 =z 


# isupper   대문자 인지 확인
# islower   소문자 확인

In [ ]:
x =input()

if x.isupper():
  print('yes')
else:
  print('no')

python
no

In [ ]:
print(x)

(<class 'list'>, 'python')

In [ ]:
txt = input()

if ord(txt) >= 65 and ord(txt) <= 90:
  print('yes')
else:
  print('no')

a
no

In [ ]:
########################################
## Quiz 30 문자열 속 문자 찾기
########################################

In [ ]:
txt =input()
txt.find('apple')
print(txt[txt.find('apple'):txt.rfind('apple'))

SyntaxError: ignored

In [ ]:
a = 'pineapple is yummy'
a.find('apple')

4

In [ ]:
x[x[0]x.find(a):x.rfind(p)]

SyntaxError: ignored

In [ ]:
# 31 문자열 만들기 
txt = input()
a = list(txt.split())
print(len(a))

#내가한거

txt =input().split(' ')

print(len(txt))

10

In [ ]:
a = map(int,input().split())
print(a)
a.reversed()

1 2 3 4 5
<map object at 0x7f761a9a5710>

AttributeError: ignored

In [ ]:
  # 거꾸로출력하기 

txt =input().split()


print(txt.reverse())

2 6 8 7 8
None

In [ ]:
for i in range(20,10,-1):
  print(i)

20
19
18
17
16
15
14
13
12
11

In [ ]:
# 33 거꾸로 출력하기
txt = input()
txt2 = txt.split()
txt3 = [int(i) for i in txt2]
print(txt3)

1 2 3 4 5
[1, 2, 3, 4, 5]

In [ ]:
#34 sort 구현하기
# 내가한거
high = input().split()
i = int(high)

if i == sorted(i):
  print("YES")
else:
  print("NO")

# 선생님
# sorted & sort

# list = [1, 3, 2]
# print(list.sort())
# = None  ??
# print(list)
# = [1, 2, 3] ??

# list = [1, 3, 2]
# print(sorted(list))
# = [1, 2, 3]

# print(list) = [1, 3, 2]

#<list>.sort() 를 사용하면 원본 리스트 자체의 순서를 변화 시킨다
# sorted(list) 를 사용하면 정렬된 새로운 리스트를 반환 받는다
# list.sort()는 새로운 복사본을 만들지 않는다

 1 2 80 5 6

TypeError: ignored

In [ ]:
# 36 구구단 출력하기 
gugu = input('숫자를 입력하세요 : ')
gu = int(gugu)
for i in range(1,10):
  gugudan = gu * i
  print(gugudan,end=' ')

숫자를 입력하세요 : 2
2 4 6 8 10 12 14 16 18

In [ ]:
## 37 count 사용하기

#기본  : 변수.count()

# a = 'oyyy'
#a.count(y)

# b= 'ox o x oxoxox'
#  b.count('ox')
# a = [1, 1, 1, 2, 3 ]
# a.count(1)
# = 3


a = input().split()
b = list(set(a))

max = 0 

for i in range(len(b)):
  if a.count(b[i]) > a.count(b[max]):
    max = i
print("%s(이)가 총 %d 표로 반장이 되었습니다."%(b[max], a.count(b[max])))

원영 원영 은비 은비 은비 은비 채연 채연
은비(이)가 총 4 표로 반장이 되었습니다.

In [ ]:
## 38 문장이입력되면 모든 q를 e로 바뀌는 프로그램


a = input()

print(a.replace('q','e'))

quttwe
euttwe

In [ ]:
## 41 소수 판별

a= int(input())

if a * 1 == a and 1 % a == 1:
  print('YES')
else:
  print('NO')

In [ ]:
a = int(input())
re = 0
for i in range(1,a+1):
  if a % i == 0: # 입력받은수를 그수 앞에 모든수로 나눈 나머지 값이 0이면
    re += 1      #rerkqt
    
if re == 2:    
  print("yes")
else :
  print("No")

11
yes

In [ ]:
print(sum(map(int, input())))

1234
10

In [ ]:
sum = 0
for i in input():
  sum += int(i)
print(sum)

1234
10

In [ ]:
## 46번 str자료형의 응용 a ='1234567891011121314151617181920'
내가한거
for i in range(1,21):
  print(i,end ='')
print(sum(map(int,i)))

1234567891011121314151617181920

TypeError: ignored

In [ ]:
print(range(1,21))

range(1, 21)

In [ ]:
a = int(input())

sum = 0
for i in range(1,a+1):
  for j in str(i):
    sum += int(j)

print(sum)

80
648